body {
  background-color: #f0f5fa;
  color: #030a11;
  font-family: 'Nunito', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin-top: 2%; }

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; }

.navbar-dark .bg-dark {
  background-color: #030a11; }

.navbar .container-fluid {
  justify-content: space-between;
  width: auto; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0; }

.navbar-brand {
  justify-content: space-around;
  position: relative; }

.me-2 {
  margin-right: 20%;
  position: relative; }

.d-flex {
  display: flex; }

.navbar .navbarScroll {
  justify-content: flex-end; }

.form-control {
  display: block;
  width: 250px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 25px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.fa-solid {
  color: #16b6f2; }

.login {
  display: flex;
  align-items: center; }

.login a {
  padding: 0 8px; }

.login a i {
  font-size: 30px; }

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: none;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; }

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-evenly; }

.nav-icon {
  left: 100px;
  align-content: end;
  position: relative; }

.footer-dark {
  padding: 15px 0;
  color: #ffffff;
  background-color: #030a11; }
  .footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px; }
  .footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0; }
    .footer-dark ul a {
      color: inherit;
      text-decoration: none;
      opacity: 0.6; }
      .footer-dark ul a:hover {
        opacity: 0.8; }
  .footer-dark .item.text {
    margin-bottom: 36px;
    color: #ffffff; }
    .footer-dark .item.text p {
      opacity: 0.6;
      margin-bottom: 0; }
  .footer-dark .btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 75px;
    right: 25px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease; }
  .footer-dark .btn-wsp:hover {
    background: #20ba5a; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .footer-dark .btn-wsp {
      width: 63px;
      height: 63px;
      line-height: 66px; } }
  .footer-dark .btn-scroll {
    display: none;
    position: fixed;
    width: 30px;
    height: 30px;
    line-height: 33px;
    bottom: 10px;
    left: 25px;
    background: #ffffff;
    color: #030a11;
    border-radius: 100px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 1s; }
    .footer-dark .btn-scroll:hover {
      background: #d6f3ff; }
  .footer-dark .fa-chevron-up {
    color: #212529;
    font-size: 25px; }
  .footer-dark .divider {
    width: 100%;
    border-top: 3px solid #16b6f2; }
  .footer-dark .item.social {
    text-align: center; }
    .footer-dark .item.social a {
      font-size: 20px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
      margin: 0 8px;
      color: #16b6f2; }
      .footer-dark .item.social a:hover {
        border: #16b6f2 1px solid; }
  .footer-dark .item.pay > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #16b6f2; }
    .footer-dark .item.pay > a:hover {
      border: #16b6f2 1px solid; }

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px; } }
.fa-solid {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #16b6f2;
  position: relative; }

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0; } }
@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 50px; } }
.banner img {
  width: 100%; }

.card.card-radius {
  border-radius: 100%;
  height: 160px;
  width: 160PX;
  box-shadow: 0.7em 0.7em 0.7em #00000015;
  transition: border 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 2px solid rgba(0, 0, 0, 0.3); }
  .card.card-radius:hover {
    border: #16b6f2 0.2em solid; }
  .card.card-radius .card-img-top {
    width: 80%;
    top: 110;
    left: 0;
    margin-top: 17%;
    margin-bottom: 10%;
    margin-left: 5%; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 350px; }
  .card .card-image {
    display: flex;
    height: 40%;
    align-items: center;
    margin-top: 10px; }
  .card .card-title {
    font-weight: 400;
    font-size: 18px; }
  .card .card-text {
    font-weight: 800;
    font-size: 25px; }
  .card .card-body {
    display: flex;
    padding: 16px 16px;
    width: auto;
    flex-direction: column;
    justify-content: end; }
  .card:hover {
    border: #16b6f2 0.2em solid; }
  .card .card-img-top {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    top: 110;
    left: 0;
    margin-top: 5%;
    margin-bottom: 5%; }

.btn-primary {
  color: #fff;
  background-color: #16b6f2;
  border-color: #16b6f2;
  border-radius: 50px;
  width: 148px;
  font-size: 25px;
  font-weight: 800;
  inline-size: -webkit-fill-available;
  margin-top: 5%;
  margin-bottom: 0;
  bottom: 0; }

.fa-cart-shopping:before, .fa-shopping-cart:before {
  color: #ffffff; }

button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: relative; }

button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.fa-angle-left:before {
  content: "\f104";
  display: flex;
  color: #030a1199;
  font-size: 70px;
  position: absolute;
  width: 16px;
  cursor: pointer;
  bottom: 170px;
  right: 480px; }

.fa-angle-right:before {
  content: "\f105";
  /* display: flex; */
  color: #030a1199;
  font-size: 70px;
  position: absolute;
  width: 16px;
  cursor: pointer;
  bottom: 170px;
  left: 460px; }

.owl-theme, .owl-dots, .owl-dot {
  display: none;
  zoom: 1; }

@media (max-width: 767px) {
  .fa-angle-left:before {
    content: "\f104";
    display: flex;
    color: #030a1199;
    font-size: 70px;
    position: absolute;
    width: 16px;
    cursor: pointer;
    bottom: 170px;
    right: 280px; }

  .fa-angle-right:before {
    content: "\f105";
    /* display: flex; */
    color: #030a1199;
    font-size: 70px;
    position: absolute;
    width: 16px;
    cursor: pointer;
    bottom: 170px;
    left: 260px; } }
@media (max-width: 576px) {
  .fa-angle-left:before {
    content: "\f104";
    display: flex;
    color: #030a1199;
    font-size: 70px;
    position: absolute;
    width: 16px;
    cursor: pointer;
    bottom: 170px;
    right: 140px; }

  .fa-angle-right:before {
    content: "\f105";
    /* display: flex; */
    color: #030a1199;
    font-size: 70px;
    position: absolute;
    width: 16px;
    cursor: pointer;
    bottom: 170px;
    left: 120px; } }

/*# sourceMappingURL=style.css.map */
